.pb-container{
 display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 30px;
}

.pb-container .btn-login {
  background-color: var(--darkGreenColor);
  color: var(--lightGreenColor);
  border: 1px solid var(--lightGreenColor);
}

.pb-container .btn-register {
  color: var(--darkGreenColor);
  border: 1px solid var(--lightGreenColor);
}

/* Constantes */
:root {
    --fontText: "Inter", sans-serif;
    --fontColor: #000000;
    --placeholderFontColor: #7C7979;
    --darkGreenColor: #2E371D;
    --lightGreenColor: #9CCE3C;
    --whiteColor: #FFFFFF;
    --colorBorder: #A6A0A0;
    --colorArrow: #8FCA21;
    --colorRed: red;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

html,
body {
  font-family: var(--fontText);
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root, #__next { 
  isolation: isolate;
}